body
{
	color: red;	
	font-weight: bold;
	background-color: #333;
}

input[type="text"], input[type="password"]
{
	width: 570px;
}

label
{
	display: inline-block;
	width: 120px;
}

tr
{
	vertical-align: top;
}

fieldset
{
	 margin: 15px;
}

#tabs
{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;

	height: 400px !important;
	width: 800px !important;
}

#control
{
}

#configuration
{
	height: 125px;
}

#progress
{
	height: 170px;
}

#progress>div
{
	margin: 5px;
	display: inline-block;
}

#log
{
	height: 255px;
	border: none;
}

#log-content
{
	border: 2px solid #999;
	padding: 5px;
	width: 700px;
	height: 210px;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	font-size: small;
}

#saveConfig
{
	position: absolute;
	right: 58px;
}

#log input[type="button"]
{
}

#threadNums
{
	margin: 5px;
	width: 25px;
	position: relative;
	top: -8px;
}

#clearLog
{
	position: absolute;
	right: 40px;
	margin: 5px;
}

a, a:active, a:hover, a:visited
{
	color: #ccc;
}

a
{
	text-decoration: none;
}

a:hover
{
	color: #ddd;
}

#header
{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 60px;
}

#app-name
{
	color: #FFFFFF;
	font-family: Arial;
	font-size: 3em;
	font-weight: bold;
	margin-top: -0.16em;
	position: relative;
	text-shadow: 0 1px 2px #666666;
}

#app-description
{
	bottom: 0;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
	margin-left: 0.4em;
	margin-top: -0.5em;
	position: absolute;
	text-shadow: 0 1px 2px #666666;
}

#content
{
	margin-top: 65px;
}

#footer
{
	text-align: center;
	position: absolute;
	top: 480px;
	color: #ccc;
	width: 800px;
	margin: auto;
	left: 0px;
	right: 0px;
}

.group
{
	margin: 10px;
}

.checked
{
	background-image: url('images/checked 30x30.png');
}

.unchecked
{
	background-image: url('images/unchecked 30x30.png');
}

.button
{
	width: 30px;
	height: 30px;
	cursor: pointer;
	display: inline-block;
}

.time
{
	color: #c33;
	background-color: rgba(0, 0, 0, 0.11);	
}

#threadControl
{
	width: 110px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.11);
	display: inline-block;
}

.hide
{
	display: none;
}

.L0_Critical
{
	color: #f00;
}

.L1_Error
{
	color: #e40;
}

.L2_Warning
{
	color: yellow;
}
			
.L3_Notice
{
	color: #333;
}

.L4_Information
{
	color: black;
	font-style: italic;
}

.L5_Debug
{
	color: #555;
}

.userMessage
{
	color: red;
}